#############################################################################
# Mandatory vars (will be enforced by docker-compose-wrapper.sh)
# Can add new vars but do not remove, else automated deployment will break
#############################################################################

export HOSTNAME_FQDN="hostname.domainname" # Fully qualified domain name of this installation

# Only applicable on initial setup, changing these settings
# after database is created and seeded won't yield any change.
export INITIAL_ROOT_PASSWORD="rootpasswd"


#############################################################################
# Optional vars
#############################################################################

# Extra dirs containing docker-compose-extra.yml file to override the default
# docker-compose.yml file.  Inside each extra dir, there must be a
# docker-compose-extra.yml file.  If this file is not found, the dir is
# ignored.
#
# Useful to split configs into different dirs leveraging docker-compose
# override capabilities, see https://docs.docker.com/compose/extends/.
#
# Possible use-cases:
#
# * Split config to have all private and sensitive infos in a different
#   config dir.
#
# * Manage different env (prod, stating, dev, ...) with each env specific
#   config in its own dir leaving the default config dir with generic/common
#   config only.
#
# * Assemble different combinations of components/functionalities by including
#   only the config/docker-compose fragment necessary.
#
# Last dir/docker-compose fragment in the list have highest override precedence.
# Ex: last docker-compose volume mount to same destination win over the
# previous docker-compose volume mount.
#
# Format: space separated list of dirs
#
#export EXTRA_CONF_DIRS="/path/to/dir1 ./path/to/dir2 dir3 dir4"

# SMTP server without SSL (on port 25)
#export SMTP_SERVER="smtp.server"
